html{
    font-size: 16px;
    font-family: cursive;
}
nav{
    z-index: 2;
    padding: 5px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: aqua;
}
header {
    display: flex;
    justify-content: center;
}
header img {
    display: none;
}
h1{
    font-weight: 900;
    font-size: 2rem;
    text-shadow: 3px 3px 2px salmon;
    text-align: center;
    padding: 0 3px;
    border-radius: 8px;
}
h2 {
    font-size: 1.2rem;
}
p {
    font-size: 0.8rem;
}
a {
    font-size: 0.8rem;
    background-color: grey;
    text-decoration: none;
    display: flex;
    align-items: center;
}
a:active, a:hover{
    color: rgb(64, 16, 109);
}
/* take with ID */
#menu, #iconeSite, a{
    border-radius: 5px;
    padding: 0 5px;
    height: 23px;
}
#menu ,#menuContent {
    background-color: silver;
    text-align: center;

}
#menu {
    width: 15px;
    transform: rotateZ(90deg);
    font-weight: 600;
}
#menuContent {
    z-index: 1;
    margin: -100px;
    width: 95vw;
    margin-right: 0.25vw;
    margin-left: 1vw;
    border-radius: 0 0 8px 8px;
    position: fixed;
    top: 0;
    transition: transform 0.5s ease;
}
#otherCours{
    display: flex;
    column-gap: 2vw;
}
#iconeSite{
    background-color: orange;
}
#headerBox{
    width: 100%;
    height: 35vh;
    width: 90vw;
    background-color: antiquewhite;
    background-image: url("../../../../learn images/level 0/responsive_web_design.png");
    background-size: cover;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* take with class */
section.content {
    padding: 0 0.5rem;
}
.buttons:active {
    cursor: pointer;
    user-select: none;
    outline: 1px solid plum;
}
.buttons:hover {
    cursor: pointer;
}
/* attributes */
.moveDoneMenuContent {
    transform: translateY(132px);
}
/* RESPONSIVE */
@media (min-width:480px) and (max-width: 679px) {
    html{
        font-size: 18px;
    }
    #menu, #iconeSite, a {
        height: 28px;
    }
    .moveDoneMenuContent {
        transform: translateY(138px);
    }
    header {
        margin-top: 13px;
    }
}
@media (min-width:680px) and (max-width: 767px) {
    #menu {
        display: none;
    }
    nav, #contentSite{
        width: 65vw;
    }
    #contentSite{
        position: absolute;
        right: 0;
    }
}
@media (min-width:1000px) {
    
}