/* Main css */
:root {
  --main-color :rgb(78, 196, 243);
  --dark-txt-color : rgb(209, 240, 253);
}

/* ALL */
* {
  margin: 0;
  box-sizing: border-box;
}
/* BUTTONS */

button:hover {
  cursor: pointer;
  border-color: silver;
}

button:active {
  border-color: var(--main-color);
}

/* TEXTS */

body {
  font-family: cursive;
  text-align: center;
}

a {
  color: blue;
  text-decoration: underline var(--main-color);
}

a:hover {
  text-decoration: underline skyblue;
}
/* SECTIONS */
article {
  padding: 0 10vw;
}

header, article, section {
  border-bottom: 4px solid var(--main-color);
}

/* TABLES */

table {
  width: 100%;
  border-collapse: collapse;
}
table,th,tr, td {
  border: 1px solid var(--main-color);
}

/* TOOLS */

.none {
  display: none;
}