/* Main css */
:root {
  --main-color :rgb(78, 196, 243)
}

/* ALL */
* {
  margin: 0;
  box-sizing: border-box;
}
/* BUTTONS */

button:hover {
  border-color: silver;
}

button:active {
  border-color: var(--main-color);
}

/* TEXTS */

body {
  font-family: cursive;
  text-align: center;
}

a {
  color: blue;
  text-decoration: underline var(--main-color);
}

a:hover {
  text-decoration: underline skyblue;
}
/* SECTIONS */
article {
  padding: 0 10vw;
}

header, article, section {
  border-bottom: 4px solid var(--main-color);
}