/* nav style */

/* NAV CONTAINER */
nav {
  height: 33px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 255, 0.5);
}

/* NAV BUTTONS */

nav button {
  display: flex;
  align-items: center;
  user-select: none;
  border: 1px solid gray;
  background-color: rgba(243, 242, 252, 0.8);
}

/* language changer */
#btn-change-language {
  width: 70px;
  gap: 3px;
}

#btn-change-language img{
  height: 28px;
  padding-right: 3px;
  border-right: 1px dashed var(--main-color);
}

#txt-current-language {
  letter-spacing: 1px;
  font-weight: 600;
}