/* nav style */

/* NAV CONTAINER */
nav {
  height: 33px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 255, 0.5);
}

/* BUTTONS */

/* language changer */
#btn-change-language img{
  height: 28px;
  padding-right: 3px;
  border-right: 1px dashed rgb(78, 196, 243);
}